{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Alterar Senha{% endblock title %}
{% block content %}
    <h2>Redefinição de Senha</h2>
    <p>Por motivos de segurança, digite sua senha antiga, e em seguida, digite a sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success" type="submit" value="Alterar senha">
    </form>
{% endblock content %}